
                                <div class="modal fade" id="addAddressModal" tabindex="1" aria-hidden="true"> 
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content p-2">
                                            <div class="modal-header border-0 pb-0">
                                                <h5 class="modal-title fw-bold">Add New Address</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>

                                            <form action="/profile/add-address" class="form" method="POST" id="addAddress">
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="fullName" class="form-label">Full Name</label>
                                                        <input type="text" class="form-control fullNameAddress" name="fullName" id="fullNameAddress" placeholder="full name">
                                                        <div class="error-container">
                                                            <p class="text-danger mb-0 small fullnameError"></p>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="phone" class="form-label">Mobile Number</label>
                                                        <input type="number" class="form-control mobile-number" name="phone" id="addPhone" placeholder="phone" minlength="10">
                                                        <div class="error-container">
                                                            <p class="text-danger small mb-0 mobile-error" id="phoneError"></p>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="pincode">Pincode</label>
                                                        <input type="text" class="form-control pincode" name="pincode" id="addPincode" placeholder="pincode" minlength="6">
                                                        <div class="error-container">
                                                            <p class="text-danger small mb-0 mt-1 pincode-error" id="pincodeError"></p>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="house" class="form-label">House No / Building / Apartment</label>
                                                        <input type="text" class="form-control house-number" name="house" id="house" placeholder="Building name, House No">
                                                        <div class="error-container">
                                                            <p id="house-error" class="text-danger mb-0 mt-1 house-error"></p>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="street" class="form-label">Street</label>
                                                        <input type="text" class="form-control street" name="street" id="street" placeholder="Street">
                                                        <div class="error-container">
                                                            <p id="street-error" class="text-danger mb-0 small street-error"></p>
                                                        </div>
                                                   </div>
                                                    <div class="mb-3">
                                                        <label for="city" class="form-label">Town / City</label>
                                                        <input type="text" class="form-control" name="city" id="city" placeholder="city">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="state" class="form-label">State</label>
                                                        <input type="text" class="form-control state" name="state" id="state" placeholder="state">
                                                        <div class="error-container">
                                                            <p class="text-danger mb-0 small state-error"></p>
                                                        </div>
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input type="checkbox" class="form-check-input" name="isDefault">
                                                        <label for="isDefault">Make this my default address</label>
                                                    </div>
                                                </div>

                                                <div class="modal-footer border-0 pt-0">
                                                    <button type="button" class="btn btn-light border px-4" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" id="address-submit" class="btn btn-danger px-5 save-address-btn">Save Address</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
