<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXE</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
        crossorigin="anonymous"
    />
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"
    ></script>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
        integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="border shadow-sm w-50 rounded-4">
            <div class="text-center mt-4">
                <h2 class="py-2 fw-bold">LUXE</h2>
                <p class="m-0 text-muted">Enter your new password</p>
            </div>
            <p class="text-center mb-0 mt-2 text-danger" style="visibility: <%= locals.error ? 'visible' : 'hidden' %>;"><%= locals.error || 'Placeholder' %></p>
            <form action="/auth/login/update-password" method="POST" class="d-flex flex-column align-items-center py-2 mt-3">
                <div class="mb-1 w-75">
                    <label for="newPassword" class="form-label">new password</label>
                    <div class="d-flex input-group border border-1 rounded-2">
                        <input type="password" class="form-control border-0" name="newPassword" id="newPassword">
                        <button class="btn border-0" type="button" id="toggle-password">
                            <i class="bi bi-eye-slash" id="eye-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="mb-1 w-75">
                    <label for="confirmPassword" class="form-label">confirm password</label>
                    <div class="d-flex input-group border border-1 rounded-2">
                        <input type="password" class="form-control border-0" name="confirmPassword" id="confirmPassword">
                        <button class="btn border-0" type="button" id="toggle-password2">
                            <i class="bi bi-eye-slash" id="eye-icon"></i>
                        </button>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger mt-4 mb-3">confirm</button>
            </form>
        </div>
    </div>
    
    <script>
        const passwordInput = document.getElementById("newPassword");
        const confirmPasswordInput = document.getElementById("confirmPassword");
        const togglePassword = document.getElementById("toggle-password");
        const togglePassword2 = document.getElementById("toggle-password2");

        togglePassword.addEventListener("click", () => {
            const type = passwordInput.type === "password" ? "text" : "password";
            passwordInput.setAttribute("type", type);

            if (type === "text") {
                eyeIcon.classList.remove("bi-eye-slash");
                eyeIcon.classList.add("bi-eye");
            } else {
                eyeIcon.classList.remove("bi-eye");
                eyeIcon.classList.add("bi-eye-slash");
            }
        });
        togglePassword2.addEventListener("click", () => {
            const type = confirmPasswordInput.type === "password" ? "text" : "password";
            confirmPasswordInput.setAttribute("type", type);

            if (type === "text") {
                eyeIcon2.classList.remove("bi-eye-slash");
                eyeIcon2.classList.add("bi-eye");
            } else {
                eyeIcon2.classList.remove("bi-eye");
                eyeIcon2.classList.add("bi-eye-slash");
            }
        });
    </script>
</body>
</html>

