<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LUXE</title>
    </head>
    <body>
        <div class="form-container">
            <form action="/api/auth/register" method="POST">
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name" />
                <label for="email">Email</label>
                <input type="email" name="email" id="email" />
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
                <label for="conform-password">Conform Password</label>
                <input type="password" name="conform-password" id="conform-password" />
                <label for="referral-code">Referral Code</label>
                <input type="text" name="referral-code" id="referral" />
            </form>
        </div>
    </body>
</html>
