<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin-nav.css">
    <script defer src="/scripts/admin-nav.js"></script>
    <title>LUXE</title>
</head>
<body>
    
    <%- include('partials/admin-nav.ejs') %>
    <main>
        <h1>sales-report</h1>
    </main>
</body>
</html>

